@page
@model TicketOffice.Pages.Auth.RegistrationModel

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Реєстрація";
}

<link rel="stylesheet" href="~/css/Auth.css" asp-append-version="true"/>

<div class="wrapper">
    <form class="auth-form" method="post">
        <div class="header">
            Реєстрація
        </div>
        
        <input class="field" placeholder="E-mail" autocomplete="off" asp-for="User.Email"/>
        <span asp-validation-for="User.Email" class="validation-error"></span>
        <br>

        <input class="field" placeholder="Пароль" autocomplete="off" asp-for="User.Password"/>
        <span asp-validation-for="User.Password" class="validation-error"></span>
        <br>

        <input class="submit-btn" type="submit" value="Зареєструватись"/>

        <div class="hint">
            Вже маєте аккаунт?
            <a href="/auth/login" class="link">Авторизуватись</a>
        </div>
    </form>
</div>