@page
@model TicketOffice.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="topnav">
    <a class="active" href="/">Головна</a> 
    <a href="/routes">Пошук маршрутів</a>
    <div class="topnav-right">
        <a href="/auth/login">Авторизація</a>
    </div>
</div>

