@page
@model TicketOffice.Pages.Management.Routes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Route</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Route.Number" class="control-label"></label>
                <input asp-for="Route.Number" class="form-control" />
                <span asp-validation-for="Route.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Route.Capacity" class="control-label"></label>
                <input asp-for="Route.Capacity" class="form-control" />
                <span asp-validation-for="Route.Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Route.RemainingCapacity" class="control-label"></label>
                <input asp-for="Route.RemainingCapacity" class="form-control" />
                <span asp-validation-for="Route.RemainingCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

